
<table class="table table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>City</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        <tbody>
            {{#each list}}
            <tr>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.city}}</td>
            <td><a href="/update/{{this.email}}" class="btn btn-info">Update</a></td>
            <td><a href="/delete/{{this.email}}" class="btn btn-warning">Delete</a></td>
            </tr>
            {{/each}}

        </tbody>
    </thead>
</table>